[submodule "louie_chapman"]
	path = card_games/louie_chapman
	url = https://github.com/LouieChapm/picotron_solitaire_suite
[submodule "cards_api"]
	path = cards_api
	url = https://github.com/Werxzy/funny_cards
